# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password1
POSTGRES_DB=pubtracker_db

# Connection string for applications
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# Redis Configuration
# REDIS_URL=redis://localhost:6379/0