# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password1
POSTGRES_DB=pubtracker_db
POSTGRES_PORT=5432

#API configuration
#Choose between "Development" or "Production"
ASPNETCORE_ENVIRONMENT=Development
