# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password1
POSTGRES_DB=pubtracker_db
POSTGRES_PORT=5432

# Connection string for applications
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

# Connection string used by Docker
DATABASE_URL_DOCKER=Host=db;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

# Connection string used by Visual Studio
DATABASE_URL_LOCAL=Host=localhost;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}

#API configuration
#Choose between "Development" or "Production"
ASPNETCORE_ENVIRONMENT=Development

#Running mode | choose "docker" or "local" (for Visual Studio)
RUN_MODE=local